:root {
  --color-background: var(--solid-white);
  --color-foreground: var(--solid-black);
  --color-text-primary: var(--solid-black);
  --color-text-muted: var(--neutral-400);
  --color-text-placeholder: var(--neutral-300);
  --color-button-background: var(--solid-black);
  --color-button-foreground: var(--solid-white);
  --color-button-background-hover: var(--neutral-700);
  --color-button-background-active: var(--neutral-700);
  --color-button-secondary-background: var(--neutral-100);
  --color-button-secondary-foreground: var(--solid-black);
  --color-button-secondary-background-hover: var(--neutral-200);
  --color-button-secondary-foreground-hover: var(--neutral-700);
  --color-button-secondary-background-active: var(--neutral-300);
  --color-button-secondary-foreground-disabled: var(--neutral-400);
  --color-input-border: var(--neutral-300);
  --color-input-border-focus: var(--solid-black);
  --color-input-border-error: var(--red-500);
  --color-input-background: var(--solid-white);
  --color-input-background-disabled: var(--neutral-100);
  --color-input-border-disabled: var(--neutral-200);
  --color-input-text-disabled: var(--neutral-250);
  --color-text-error: var(--red-500);
  --color-accent-green: var(--accent-green);
}
