.text-heading-1 {
  font-family: var(--family-mono);
  font-size: var(--size-32);
  font-weight: var(--weight-semibold);
  line-height: var(--line-32);
}

.text-heading-2 {
  font-family: var(--family-mono);
  font-size: var(--size-24);
  font-weight: var(--weight-semibold);
  line-height: var(--line-24);
}

.text-body {
  font-family: var(--family-mono);
  font-size: var(--size-14);
  font-weight: var(--weight-regular);
  line-height: var(--line-18);
}

.text-body-regular {
  font-family: var(--family-mono);
  font-size: var(--size-18);
  font-weight: var(--weight-regular);
  line-height: var(--line-18);
}

.text-heading-3 {
  font-family: var(--family-mono);
  font-size: var(--size-20);
  font-weight: var(--weight-semibold);
  line-height: var(--line-16);
}

.text-button-label {
  font-family: var(--family-mono);
  font-size: var(--size-14);
  font-weight: var(--weight-medium);
  line-height: var(--line-16);
}
