.button {
  padding: var(--size-16);
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button--primary {
  background: var(--color-button-background);
  color: var(--color-button-foreground);
}

.button--primary:hover:not(:disabled) {
  background: var(--color-button-background-hover);
  color: var(--color-button-foreground);
}

.button--primary:active:not(:disabled) {
  background: var(--color-button-background-active);
  color: var(--color-button-foreground);
}

.button--primary:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button--primary:disabled:hover,
.button--primary:disabled:active {
  background: var(--color-button-background);
  color: var(--color-button-foreground);
  opacity: 0.5;
}

.button--secondary {
  background: var(--color-button-secondary-background);
  color: var(--color-button-secondary-foreground);
}

.button--secondary:hover:not(:disabled) {
  background: var(--color-button-secondary-background-hover);
  color: var(--color-button-secondary-foreground-hover);
}

.button--secondary:active:not(:disabled) {
  background: var(--color-button-secondary-background-active);
  color: var(--color-button-secondary-foreground);
}

.button--secondary:disabled {
  background: var(--color-button-secondary-background);
  color: var(--color-button-secondary-foreground-disabled);
  cursor: not-allowed;
}

.button--secondary:disabled:hover,
.button--secondary:disabled:active {
  background: var(--color-button-secondary-background);
  color: var(--color-button-secondary-foreground-disabled);
}
