:root {
  --spacing-text: var(--size-12);
  --spacing-content: calc(var(--size-20) * 2);
  --spacing-section: calc(var(--size-20) * 3);
  --layout-content-width: 80vw;
  --layout-content-inset: calc((100vw - var(--layout-content-width)) / 2);
}
