.heading {
  display: inline-block;
  margin: 0;
  padding: 12px 24px;
  box-sizing: border-box;
  background: var(--solid-white);
  border: 1px solid var(--color-heading-text);
  box-shadow: 8px 9px 0 0 var(--color-heading-text);
  color: var(--color-heading-text);
  text-transform: uppercase;
  text-align: center;
}

.heading--error {
  border-color: var(--color-heading-error-border);
  box-shadow: 8px 9px 0 0 var(--color-heading-error-shadow);
  color: var(--color-heading-error-text);
}

.heading__label {
  display: block;
}
