.icon-button {
  padding: var(--size-14);
  width: 54px;
  height: 54px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-button__icon {
  width: 20px;
  height: 20px;
  display: block;
}

.icon-button--primary {
  background: var(--color-button-background);
  border: 1px solid var(--color-button-background);
}

.icon-button--primary:hover:not(:disabled) {
  background: var(--color-button-background-hover);
  border-color: var(--color-button-background-hover);
}

.icon-button--primary:active:not(:disabled) {
  background: var(--color-button-background-hover);
  border-color: var(--color-button-background-hover);
}

.icon-button--secondary {
  background: var(--color-dropdown-background);
  border: 1px solid var(--color-dropdown-foreground);
}

.icon-button--secondary:hover:not(:disabled) {
  background: var(--color-dropdown-background-hover);
}

.icon-button--secondary:active:not(:disabled) {
  background: var(--color-dropdown-background-hover);
}

.icon-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
